body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

/* Menu item custom */
.ant-btn.ant-btn-default.ant-btn-lg:hover {
  color: #fa6400 !important;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-item-open {
  color: #fa6400 !important;
  background-color: white !important;
}

.ant-menu > .ant-menu-item-selected {
  background-color: rgb(49, 45, 45) !important;
}
