.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.cart-item {
  margin-left: auto;
  background-color: #fa6400 !important;
  color: rgb(45, 45, 146) !important;
}
